beautifulsoup4
blinker
bs4
certifi
chardet
charset-normalizer
click
dnspython
Flask
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
packaging
Pillow
PyJWT
pymongo
python-dateutil
python-dotenv
pytz
reportlab
requests
setuptools
six
soupsieve
tzdata
urllib3==1.26.6
Werkzeug